{% extends 'shared/_Mainlayout.html' %}
{% load static %}
{% block refrence_header %}{% endblock %}
{% block content %}
<div class="container contact_container">
	<!-- Contact Us -->
	<div class="row dir_rtl">

		<div class="col-lg-6 get_in_touch_col">
			<div class="get_in_touch_contents">
				<h1>ورود</h1>
				<p>فرم زیر را پر کنید</p>
				<form method="POST">
					{% csrf_token %}
					<div>
					{{form.user_name}}
					{% for error in form.user_name.errors %}
						<p style="color: red;">{{ error }}</p>
					{% endfor %}

					{{form.password}}
					{% for error in form.password.errors %}
						<p style="color: red;">{{ error }}</p>
					{% endfor %}
						{% comment %} 
						<input id="input_name" class="form_input input_name input_ph" type="text" name="name" placeholder="نام" required="required" data-error="Name is required.">
						<input id="input_email" class="form_input input_email input_ph" type="email" name="email" placeholder="ایمیل" required="required" data-error="Valid email is required.">
						<input id="input_website" class="form_input input_website input_ph" type="url" name="name" placeholder="وبسایت" required="required" data-error="Name is required.">
						<textarea id="input_message" class="input_ph input_message" name="message"  placeholder="پیام" rows="3" required data-error="Please, write us a message."></textarea>
						{% endcomment %}
					</div>
					<div>
						<button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">ورود</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>
{% endblock %}

{% block refrence_footer %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/Isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="{% static 'plugins/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
<script src="{% static 'js/contact_custom.js' %}"></script>
{% endblock %}